<section id="one" class="tiles">
  {% for post in site.posts limit:site.tiles-count %}
  {% if site.tiles-source == 'posts' %}
  <article>
    <span class="image">
      <img src="{{ post.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
      <p>{{ post.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %}
  
  <!-- Projects tile -->
  <article>
    <span class="image">
      <img src="/assets/images/slugsat-gimbal.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="/projects.html" class="link">Projects</a></h3>
      <p>Work, School, and Personal Engineering Projects</p>
    </header>
  </article>
  
  <!-- Discography tile -->
  <article>
    <span class="image">
      <img src="/assets/images/on-second-glance.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="/discography.html" class="link">Discography</a></h3>
      <p>Released Music</p>
    </header>
  </article>
  
  <!-- Resume tile -->
  <article>
    <span class="image">
      <img src="/assets/images/resume_thumb.PNG" alt="" />
    </span>
    <header class="major">
      <h3><a href="/assets/Galen_Savidge_Resume_3_26_2019.pdf" class="link">Resume</a></h3>
      <p>PDF Download</p>
    </header>
  </article>
  
  <!-- About me tile 
  {% for page in site.pages limit:site.tiles-count reversed %} 
  {% if site.tiles-source == 'pages' and page.show_tile != false and page.title == 'Generic' %}
  <article>
    <span class="image">
      <img src="{{ page.image }}" alt="" />
    </span>
    <header class="major">
      <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
      <p>{{ page.description }}</p>
    </header>
  </article>
  {% endif %}
  {% endfor %} -->
</section>
